<section class="cart py-16">
  <% if(session.cart) { %> 
  <div class="order container mx-auto xl:w-1/2 ">
    <div class="flex items-center border-b border-gray-300 pb-4">
      <img src="/img/cart-black.png" alt="" />
      <h1 class="font-bold ml-4 text-2xl">Order summary</h1>
    </div>
    <!-- Pizza list -->
    <div class="pizza-list">
      <!-- Pizza -->
      <% for(let pizza of Object.values(session.cart.items)) { %>
        <div class="flex items-center my-8">
          <img class="w-24" src="/img/<%= pizza.item.image %>" alt="Pizza" />
          <div class="flex-1 ml-4">
            <h1><%= pizza.item.name %></h1>
            <span><%= pizza.item.size %></span>
          </div>
          <span class="flex-1"><%= pizza.qty %> Pcs</span>
          <span class="font-bold text-lg">
            $<%= pizza.item.price * pizza.qty %>
          </span>
        </div>
        <!-- End of pizza -->
      <% } %>
    </div>
    <!-- End of Pizza list -->
    <hr />
    <div class="text-right py-4">
      <div>
        <span class="text-lg font-bold">Total amount</span>
        <span class="amount text-2xl font-bold ml-2">$<%= session.cart.totalPrice %></span>
      </div>
      <div>
        <% if( messages.error ) { %>
          <span class="text-red-500 text-sm italic mt-4"><%= messages.error %></span>
          <% } %>
        <form action="/orders" method="POST" class="mt-2">

          <% if(user) { %>
            <input
              name="phone"
              class="border border-gray-400 p-2 ml-2 mb-4"
              type="text"
              
              placeholder="Phone number"
            />
            <input
              name="address"  
              class="border border-gray-400 p-2 ml-2 mb-4"
              type="text"
              
              placeholder="Address"
            />
          <% } else { %>
              <input
                name="phone"
                class="border border-gray-400 p-2 ml-2 mb-4"
                type="text"
                hidden
                placeholder="Phone number"
              />
              <input
                name="phone"  
                class="border border-gray-400 p-2 ml-2 mb-4"
                type="text"
                hidden
                placeholder="Address"
              />
          <% } %>

          <div>
            <% if(user) { %>
            <button
              type="submit"
              class="btn-primary px-6 py-2 rounded-full font-bold text-white"
            >
              Order Now
            </button>
            <% } else { %>
            <a
            href="/login" 
            class="         
            inline-block
            cursor-pointer
            btn-primary
            px-6
            py-2
            rounded-full
            font-bold
            text-white">Login to continue</a>
            <% } %>
          </div>
        </form>
      </div>
   
    </div>
  </div>
  </div>
  <% } else { %>
  <div class="empty-cart py-16">
    <div class="container mx-auto text-center">
      <h1 class="text-3xl font-bold mb-2">Cart is empty</h1>
      <p class="text-gray-500 text-lg mb-12">
        You probably haven't ordered a pizza yet. <br />To order a pizza, go to
        the main page.
      </p>
      <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty-cart" />
      <a
        href="/"
        class="
          btn-primary
          inline-block
          px-6
          py-2
          rounded-full
          text-white
          font-bold
          mt-12
        "
        >Go back</a
      >
    </div>
  </div>
  <% } %>
</section>
